$black: #000000;
$black-light: #0f0f0f;
$white: #ffffff;
$hover: #f4f4f5;
$color-hover: #bcbcbc;
$bg-body: #2d2d2e;
$color-gray: #666;
$black-light-second: #141414;
$red: #bb2e2e;
$red-light: #d83756;
$color-line: #d3d3d3;
$color-bg-icon: #e3e3e3e3;
$bd-line: #b1b1b1;
$blue: #043e9f;
$blue-linear-1: #9cb4d8;
$blue-linear-2: #5878bc;
$bd-input: #d6d6d6;
//  font
$helvetica: "HelveticaNeue";
$neue: "Neue";
$neue-bold: "Neue-bold";
