// chứa các setting về fontsize của body, phần text như heading
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeue.otf");
}
@font-face {
  font-family: "Neue";
  src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Neue-bold";
  src: url("../fonts/Helvetica/helvetica-neue-bold.ttf");
}
